<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>

    <script>
        const selectedRole = document.querySelector('select[name="role"]');
        const companyField = document.querySelector('select[name="flight_company"]').parentElement;

        function toggleCompanyField() {
            if (selectedRole.value === 'FLIGHT_COMPANY') {
                companyField.style.display = 'block';
            } else {
                companyField.style.display = 'none';
            }
        }

        toggleCompanyField();

        selectedRole.addEventListener('change', toggleCompanyField);
    </script>
</body>
</html>
